.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #9353FF;
}

.verde-limao {
    color: #DAFF01;
}

.alinhar-texto {
    text-align: justify;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

    .diminuir {
        width: 70%;
    }
}

@media(min-width: 992px) {
    .diminuir {
        width: 50%;
    }
}